#quote-container {
	margin: 100px 500px;
	text-align: center;
}

#quote {
	font-family: 'Mirza';
	font-size: 22px;
}

#author {
	color: #ed217c;
	font-family: 'Lato';
	font-size: 16px;
}

#word-container {
	/* I'm sure I can find a better way to position this!*/
	bottom: 11%;
	left: 41%;
	position: absolute;
	text-align: center;
}

.slash {
	border: 120px solid;
	bottom: 0;
	position: absolute;
}

#left-slash {
	border-color: #1b998b;
	border-right-color: transparent;
	left: 0;
}

#right-slash {
	border-color: #2d3047;
	border-left-color: transparent;
	right: 0;
}
